
html,body {
	background-color: #FFFFFF;
	padding: 0px; margin: 0px;
	--background-opacity: 0.7;
	--background-r: 0;
	--background-g: 0;
	--background-b: 255;
	--main-color: rgba(var(--background-r),var(--background-g),var(--background-b),var(--background-opacity));
}

/*Text*/
.backText{
	font-size: 12.5px;
	font-family: "Roboto";
	color: rgba(76,183,255,1.0);
	letter-spacing: 0.018em;
}
.tabText{
	font-size: 12.5px;
	font-family: "Roboto";
	color: rgba(76,183,255,1.0);
	letter-spacing: 0.018em;
	margin: 20px;
	cursor: pointer;
}
.tabSelectedText{
	font-weight: 700;
	font-size: 12.5px;
	font-family: "Roboto";
	color: rgba(76,183,255,1.0);
	letter-spacing: 0.018em;
	margin: 20px;
	cursor: default;
}
.subText{
	font-weight: 300;
	color: #242d33;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";

}
.clipText{
	font-weight: 300;
	letter-spacing: 0.018em;
	position: relative; 
	top: -87px;
	font-size: 20px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
}

.questionText{
	font-weight: 200;
	letter-spacing: 0.018em;
	font-size: 20px;
	font-family: "Roboto";
	color: rgb(36, 45, 51);
	text-align: center;
	margin: 0px 20px 40px 20px;
}

.blockStateText{
	font-weight: 300;
	color: #a3bccc;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	cursor: default;
	margin: 10px;
}

.questionElementText{
	font-weight: 300;
	margin:0px;
	color: #a3bccc;
	letter-spacing: 0.018em;
	font-size: 15px;
	font-family: "Roboto";
}

.organisationText{
	color: #a3bccc;
	letter-spacing: 0.018em;
	font-size: 20px;
	font-family: "Roboto";
}

.profileText{
	font-weight: 300;
	color: #000000;
	letter-spacing: 0.018em;
	font-size: 20px;
	font-family: "Roboto";
	text-align: left;
	margin: 20px 50px 0px 50px;
}

.profileTitleText{
	color: #000000;
	letter-spacing: 0.018em;
	font-size: 20px;
	font-family: "Roboto";
	text-align: center;
}

.profileStateText{
	z-index: 30;
	font-weight: 300;
	color: #000000;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	cursor: pointer;
	margin-right: 40px;
}

.profileStateSelectedText{
	font-weight: 500;
	color: #000000;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	margin-right: 40px;
	cursor: auto;
}

.menuChangeTitleText{
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: 0.018em;
	font-size: 15px;
	font-family: "Roboto";
	margin: 15px 15px 0px 15px;
}
.menuChangeButtonText{
	color: #FFFFFF;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	margin: 15px 0px 15px 0px;
	cursor: pointer;
}

.blockTitleText{
	margin: 100px 0px 30px 0px;
	color: #a3bccc;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	text-align: center;
}

.progressText{
	color: #a3bccc;
	font-weight: 300;
	letter-spacing: 0.018em;
	font-size: 15px;
	font-family: "Roboto";

	margin: 2px;
	position: relative;
	left: 15px;
}

.seperatorTop{
	width:210px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #6dc4ff;
}

/*Layout panels*/
.background{
  	background-color: rgba(76,183,255,0.1);
  	overflow-x: hidden;
  	overflow-y: auto;
}
.middlePanel{
	width: 720px;		
}
.card{
	padding: 0px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.qSelector{
	width: 200px;
	padding: 5px;
}
.organisationPanel{
	margin: 30px;
}
.settingsPanel{
	margin: 30px;
}

.changeMenuPanel{
	background-color: rgba(76,183,255,1.0);
	margin-right: 30px;	
	height: 270px;
	z-index: 20;
}



#sidePanel{
	position: relative;
	-webkit-transition: top 1s; 
    transition: top 1s;
}

.settings{
	margin-left:25px;
}

/*Questionary*/
.clipContainer{
	position: relative;
	top: -32px;
}

.infoContainer{
	position: absolute; 
	display: none;
}

.qPicker{
	position: absolute;
	top: 0px;
}

.progressBar{
	position: absolute;
	top: 0px;

	width: 11%;

	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: rgba(76,183,255,1.0);

	-webkit-transition: width 2s; 
    transition: width 2s;
}
.buttonContainer{
	position: relative;

	padding-top: 60px;
	padding-bottom: 5px;
	background-color: white;

	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: rgba(76,183,255,0.1);

}
.seperator{
	width:370px;
	height:0px;

	position: relative;
	top:3px;

	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: rgba(76,183,255,0.1);
}

/*Profile page*/

/*Switch*/

#sidePPanel{
	-webkit-transition: margin 1s; 
    transition: margin 1s;
}

.tabActivated{
	display: table;
	width:125px;
	height:45px;

	border-style: solid;
	border-width: 2px;
	border-color: rgba(76,183,255,1.0);
	-webkit-transition: width 0.3s, height 0.3s, margin 0.3s; 
    transition: width 0.3s, height 0.3s, margin 0.3s;

    text-align:center;
}
.tab{
	display: table;
	width:110px;
	height:30px;	

	border-style: solid;
	border-width: 2px;
	border-color: rgba(76,183,255,0.5);
	-webkit-transition: width 0.3s, height 0.3s, margin 0.3s; 
    transition: width 0.3s, height 0.3s, margin 0.3s;

    text-align: center;
}
#rightTab{
	position: relative;
	left: -2px;
}

.tab span{
  	display: table-cell;
  	vertical-align: middle;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	color: rgba(76,183,255,1.0);
	cursor: pointer;
}

.tabActivated span{
  	display: table-cell;
  	vertical-align: middle;
	letter-spacing: 0.018em;
	font-size: 12.5px;
	font-family: "Roboto";
	color: rgba(76,183,255,1.0);
	font-weight: bold;
	cursor: auto;
}

/*Icons*/

.arrowIcon{
	color: rgba(76,183,255,1.0);
	margin-right: 10px;
	font-size: 12px;
}

.menuIcon{
	font-family: "ionicons";
	color: rgba(76,183,255,1.0);
	background-color: rgba(76,183,255,0.0);
	margin: 8px 8px 8px 30px;
	font-size: 32px;
	cursor: pointer;
}

.passwordIcon{
	font-family: "ionicons";
	color: white;
	position: relative;
	top: 10px;
	left: -10px;
	font-size: 12px;
}

.profileStateIcon{
	border-radius: 50%;
	width: 3px;
	height: 3px;

	margin: 2.5px;
	margin-right: 12.5px;

	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.profileStateBigIcon{
	border-radius: 50%;
	width: 8px;
	height: 8px;

	margin: 0px;
	margin-right: 10px;

	border-style: solid;
	border-width: 1px;
}

.blockStateIcon{
	border-radius: 50%;
	width: 3px;
	height: 3px;

	color: white;
	font-family: "ionicons";
	font-size: 7px;
	text-align: center;
	padding-top: 1px;

	margin: 2.5px;
	margin-right: 12.5px;

	border-style: solid;
	border-width: 1px;
	border-color: #a3bccc;
}

.qSelectedBigIcon{
	border-radius: 50%;
	width: 20px;
	height: 20px;

	margin: 0px;
	margin-right: 4px;

	background-color: rgba(76,183,255,1.0);
	-webkit-transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s; 
    transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s;
    cursor: auto;
}

.qBigIcon{
	border-radius: 50%;
	width: 8px;
	height: 8px;

	margin: 5px;
	margin-right: 9px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(76,183,255,1.0);
	-webkit-transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s; 
    transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s;
    cursor: pointer;
}

.qBigIcon:hover{
	border-radius: 50%;
	width: 18px;
	height: 18px;

	margin: 0px;
	margin-right: 4px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(76,183,255,1.0);
	cursor: pointer;
}

.qSelectedSmallIcon{
	border-radius: 50%;
	width: 10px;
	height: 10px;

	margin: 5px;

	background-color: rgba(76,183,255,1.0);
	-webkit-transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s; 
    transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s;
    cursor: auto;
}

.qSmallIcon{
	border-radius: 50%;
	width: 3px;
	height: 3px;

	margin: 7.5px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(76,183,255,1.0);
	-webkit-transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s; 
    transition: width 0.2s, height 0.2s, margin 0.2s, background-color 0.5s;
    cursor: pointer;
}

.qSmallIcon:hover{
	border-radius: 50%;
	width: 8px;
	height: 8px;

	margin: 5px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(76,183,255,1.0);
	cursor: pointer;
}

.infoIcon{
	color: rgba(76,183,255,1.0);
	margin-left: 5px;
	visibility: hidden;
	margin-top: 2px;
	cursor: pointer;
}

.scoreSelectedIcon{
	font-family: "ionicons";
	color: black;
	font-size: 16px;
}

.scoreIcon{
	font-family: "ionicons";
	color: black;
	font-size: 8px;
	letter-spacing: 4.5px;
}

.pieChart{
	width: 200px;
	height: 200px;
	/*background-color: rgba(76,183,255,0.0);*/
}
